*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box{
    height: 500px;
    width: 500px;
    border: 2px solid black;
    margin: 5px;
    text-align: right;
    display: none;
    background-color: aqua;
}

@media screen and (max-width:425px){
    #box5{
        display: flex;
        display: block;
        background-color:rgb(158, 37, 37);
        font-size: 45px;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100vh;
        width: 100vw;
    }
    
}

@media screen and (max-width:768px) and (min-width:424px){
    #box4{
        display: flex;
        display: block;
        background-color:aqua;
        font-size: 45px;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100vh;
        width: 100vw;
    }
    
}

@media screen and (max-width:1024px) and (min-width:767px){
    #box3{
        display: flex;
        display: block;
        background-color:rgb(198, 142, 9);
        font-size: 45px;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100vh;
        width: 100vw;
    } }
    
  @media screen and (max-width:1440px) and (min-width:1023px){
        #box2{
            display: flex;
            display: block;
            background-color:rgb(29, 99, 11);
            font-size: 45px;
            justify-content: center;
            align-items: center;
            text-align: center;
            height:100vh;
            width: 100vw;
        }    
        
    }    

@media screen and (min-width:1441px){
    #box1{
        display: flex;
        display: block;
        background-color:aqua;
        font-size: 45px;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100vh;
        width: 100vw;
    }    
    
}    


